CONFIG_IDF_TARGET="esp32s3"

# 16 MB quad flash (Winbond W25Q128JVSQ)
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# 8 MB octal PSRAM (ESP32-S3 R8)
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
